<h2>Add a number for <span class="contact-name"><%= @contact.name() %></span></h2>

<form action="/numbers" method="post">
  <input id="contact_id" name="contact_id" type="hidden" value="<%= @contact.id() %>">
  <div class="form-group">
    <label for="type"></label>
    <input id="type" name="type" type='text' placeholder="Number Type (ex: Home)" autofocus>
  </div>
  <div class="form-group">
    <label for="number"></label>
    <input id="number" name="number" type="text" placeholder="Number (ex: 2025550101)">
  </div>
    <button type="submit" class="butt">Add Number</button>
</form>

<hr>

<ul>
  <% @contact.numbers().each() do |number| %>
  <li><span class="num-type"><%= number.type() %></span>: <span class="num"><%= number.number() %></span></li>
  <% end %>
</ul>

<a href="/">Return to all contacts</a>
