<h1>Comfortably Number</h1>

<h2>Add a contact</h2>

<form action="/contacts" method="post">
  <div class="form-group">
    <label for="name"></label>
    <input id="name" name="name" type="text" placeholder="Contact Name" autofocus>
  </div>
  <button type="submit" class="butt">Add Contact</button>
</form>

<hr>
<h2>Your contacts</h2>
<ul>
  <% @contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.name() %></a></li>
  <% end %>
</ul>
