<h1>Comfortably Number</h1>

<h3>Add a contact</h3>

<form action="/contacts" method="post">
  <label for='name'>Name:</label>
  <input id='name' name='name' type='text'>
  <button type="submit">Add Contact</button>
</form>
<hr>
<h3>Your contacts</h3>
<ul>
  <% @contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.name() %></a></li>
  <% end %>
</ul>
